.banner {

  background: url("../public/assets/images/hero.jpg") no-repeat center;
  background-size: 100%;
  width: inherit;
  height: inherit;

}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

